.calendarContainer {
  width: 245px;
  height: 270px;
  background-color: #08161B;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textStyle {
  color: #CFCFCF;
  font-weight: bold;
}

.weekDaysContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.monthDaysContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}